@import url(main.css);

.searchBar{
    width: 90%;
    display: inline-block;
    margin-top: 10px;
}

.card-img-top{
    width: 256px;
    height: 256px;
}

.card-text{
    word-wrap: break-word;
    overflow-x: hidden;
}
