
html{
    overflow-x: hidden;
}
body{
    margin-right: 2px;
    height: 100%;
    width: 100%;
}

.col-md-2{
    background-color: lightcoral;
    height:100vh;
    position: sticky;
    margin-top: 0px;
    top: 0px;
}

.col-md-2 .btn{
    background-color: midnightblue;
    border-color:gray;
}

.description{
    word-wrap: break-word;
    overflow-x: hidden;
}

.btn-group.special{
    display: flex;
}
