@import url(../CSS/main.css);

.name{
    font-size: 70px;
    font-weight: 300;
    margin-left: 200px;
    margin-top: 50px;
    border: 50px;
}

.description{
    font-size: 20px;
    font-weight: 100;
}

.picture{
    max-height: 400px;
    max-width: 400px;
}

.person{
    display: flex;
    justify-content: space-between;
    
}
