@import url(main.css);

.profile{
    max-height: 400px;
    max-width: 400px;
}

.card-img-top{
    height: 300px;
    width: 300px;
}

.name{
    font-size: 50px;
}

.description{
    font-size: 20px;
    display: flex;
    word-wrap: break-word;
    overflow-x: hidden;
}

p{
    font-size: 40px;
    font-weight: 200;
}

.content{
    margin-left: 20px;
}
