<div class="comment description">
    <div class="card-header person">
        {{poster_name}}
        {{#if poster_owner_flag}}
        <div class="float-right">
            <button id="edit-comment" class="btn btn-outline-dark"><i class="fas fa-pencil-alt"></i></button>
            <button id="delete-comment" class="btn btn-outline-dark"><i class="fas fa-trash-alt"></i></button>
        </div>
        {{/if}}
    </div>
    <div class="card-body text">
        {{description}}
    </div>
    <br><br>
</div>