<div class="description card-body">
    <strong>Comments</strong>
</div>
<div class="comment description">
    <div class="card-header person">
        {{comment.user}}
        <span class="updel"><a href="comment_edit.html" class="btn btn-outline-dark"><span
                    class="fas fa-pencil-alt"></span></a>
            <a class="btn btn-outline-dark" href="comment_del.html"><span class="fas fa-trash-alt"></span></a></span>
    </div>
    <div class="card-body text">
        {{comment.desc}}
    </div>
    <br><br>
    <a class="btn btn-outline-dark" href="comment_create.html"><span class="fas fa-plus-square"></span> Add comment</a>
</div>