<div class="col-md-2 ">
    <div class="nav-title mt-5">
        <span id="nav-title">NAVI</span>
        <br>
    </div>
    <div class="btn-group btn-group-vertical special navibar" role="group">
        <a class="btn btn-secondary mt-5" type="button" href="/index">
            Home
        </a>
        <a class="btn btn-secondary" type="button" href="/profile/{{user_name}}">
            Profile
        </a>
        <a class="btn btn-secondary" type="button" href="/chat">
            Chat
        </a>
        {{#unless flag}}
        <a class="btn btn-secondary" type="button" href="/login">
            Login
        </a>
        {{/unless}}
        <a class="btn btn-secondary" type="button" href="/register">
            Register
        </a>
        <a class="btn btn-secondary" type="button" href="/accounts">
            Accounts
        </a>
        <a class="btn btn-secondary" type="button" href="/listings">
            Listings
        </a>
        {{#if flag}}
        <a class="btn btn-secondary" type="button" href="/index">
            Logout
        </a>
        <p>
            {{user_fullname}}
        </p>
        {{/if}}
    </div>
</div>