
<div class="col-md-2 ">
    <div class="nav-title">
        <span id="nav-title">Navi Market</span>
        <br>
    </div>
    <div class="btn-group btn-group-vertical special navibar" role="group">
        <a class="btn btn-secondary" type="button" href="index">
            Home
        </a>
        <a class="btn btn-secondary" type="button" href="profile">
            Profile
        </a>
        <a class="btn btn-secondary" type="button" href="chat">
            Chat
        </a>
        <a class="btn btn-secondary" type="button" href="login">
            Login
        </a>
        <a class="btn btn-secondary" type="button" href="register">
            Register
        </a>
        <a class="btn btn-secondary" type="button" href="accounts">
            Accounts
        </a>
        <a class="btn btn-secondary" type="button" href="listings">
            Listings
        </a>
        <a class="btn btn-secondary" type="button" href="search_acc">
            Search Accounts
        </a>
        <a class="btn btn-secondary" type="button" href="index">
            Logout
        </a>
    </div>
</div>