<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <title>Error 404</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="/CSS/error.css">
  </head>
  <body>
      <p>There is no Page for that - Market Title</p>
	<b>Error 404 : Page Not Found</b>
 </body>
</html>