<div class="col-md-3">
	<div class="card">
		<img class="card-img-top" alt="Bootstrap Thumbnail First" src="../Images/{{item_id}}.png" />
		<div class="card-block">
			<h5 class="card-title">
				{{item_name}}
			</h5>
			<p class="card-text">
				{{item_desc}}
			</p>
			<p>
				<a class="btn btn-primary" href="#">See {{item_name}}</a>
			</p>
		</div>
	</div>
</div>