
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="../CSS/register.css">
  </head>
  <body>
	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script type="text/javascript" src="../JS/login.js"></script>
	<div class="container-fluid">
		<div class="row">
			{{>nav_partial}}
			<div class="col-md-10 no-gutters">
				<div class="page-header">
					<h1>Login</h1>
				</div>
				<form role="form" id="login" action="index.html" onsubmit="return login_form()">
					<div class="form-group w-50 p-3 ">
						<label for="username">
							Username
						</label>
						<input type="email" class="form-control" id="username" />
					</div>
					<div class="form-group w-50 p-3">
						<label for="password">
							Password
						</label>
						<input type="password" class="form-control" id="password" />
					</div>
					<div class="form-check w-50 p-3">
						<input type="checkbox" class="form-check-input" value="" id="rememberMe">
						<label class="form-check-label" for="rememberMe">
							Remember me
						</label>
					</div>
					<div class ="buttons">
						<button type="submit" id="login" value="login" class="btn btn-primary submit">
							Submit
						</button>
						<a type="" href="/signup" class="btn btn-primary signup">
							Signup
						</a>
					</div>

					<div class="error">
						{{error}}
					</div>
				</form>
			</div>
		</div>
	</div>

  </body>
</html>
