<div class="col-md-2 ">
    <div class="nav-title">
        <span id="nav-title">Market Title</span>
        <br>
    </div>
    <div class="btn-group btn-group-vertical special navibar" role="group">
        <a class="btn btn-secondary" type="button" href="index.html">
            Home
        </a>
        <a class="btn btn-secondary" type="button" href="profile.html">
            Profile
        </a>
        <a class="btn btn-secondary" type="button" href="chat.html">
            Chat
        </a>
        <a class="btn btn-secondary" type="button" href="login.html">
            Login
        </a>
        <a class="btn btn-secondary" type="button" href="register.html">
            Register
        </a>
        <a class="btn btn-secondary" type="button" href="accounts.html">
            Accounts
        </a>
        <a class="btn btn-secondary" type="button" href="listings.html">
            Listings
        </a>
        <a class="btn btn-secondary" type="button" href="search_acc.html">
            Search Accounts
        </a>
        <a class="btn btn-secondary" type="button" href="index.html">
            Logout
        </a>
    </div>
</div>