<!doctype html>
<html lang="en">

<head>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="../CSS/register.css">
</head>

<body>
	<!-- Optional JavaScript -->
	<script src="../JS/register.js"></script>
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>

	<div class="container-fluid ">
		<div class="row">
			{{>nav_partial}}
			<div class="col-md-10 no-gutters">
				<div class="page-header">
					<h1>Register</h1>
				</div>
				<form role="form" method="POST">
					<div class="form-group  w-50 p-3 ">
						<label for="fullName">
							Full Name
						</label>
						<input type="text" id="name" name="name" class="form-control" id="fullName" />
					</div>
					<div class="form-group  w-50 p-3">
						<label for="username">
							Username
						</label>
						<input type="text" id="u_name" name="u_name" class="form-control" id="username" />
					</div>
					<div class="form-group  w-50 p-3">
						<label for="password">
							Password
						</label>
						<input type="password" id="p_word" name="p_word" class="form-control" id="password" />
					</div>
					<div class="form-group  w-50 p-3">
						<label for="confirm_password">
							Confirm Password
						</label>
						<input type="password" id="cp_word" name="cp_word" class="form-control" id="password" />
					</div>
					<div class="form-group  w-50 p-3">
						<label for="contactNumber">
							Contact Number
						</label>
						<input type="text" id="contactNumber" name="contactNumber" class="form-control" id="contactNumber" pattern="\d+"/>
					</div>
					<div class="form-group  w-50 p-3">
						<label for="description">
							Description
						</label>
						<textarea id="description" name="description" class="form-control" rows="3"></textarea>
					</div>
					<div class="form-group  w-50 p-3">
						<label for="profilePicture">
							File input
						</label>
						<input type="file" class="form-control-file" id="profilePicture" />
						<p class="help-block">
							Upload Profile Picture
						</p>
					</div>
					<button type="submit" class="btn btn-primary" disabled>
						Submit
					</button>
					<button class="btn btn-primary" id="verify" type="button">
						Verify
					</button>
					<div class="error">
						{{error}}
					</div>
				</form>
			</div>
		</div>
	</div>
</body>

</html>