@import url(../CSS/main.css);

.name{
    font-size: 70px;
    font-weight: 300;
    margin-left: 200px;
    margin-top: 50px;
    border: 50px;
}

.description{
    font-size: 20px;
    font-weight: 100;
}

.picture{
    max-height: 400px;
    max-width: 400px;
}

.person{
    display: flex;
    justify-content: space-between;
    
}

.contact{
    float: right;
    font-size: 30px;
}

.CRUD{
    display: flex;
    justify-content: space-between;
}

.page-darken {
    position: fixed;
    background-color: rgba(0,0,0,0.6);
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: none;
    z-index: 9;
  }

.edit-container {
    position: absolute;
    display: none;
    top: calc(50% - 240px); 
    left: calc(50% - 250px); 
    z-index: 10;
    width: 500px;
}

.error-edit-msg {
    color: red;
    font-size: smaller;
    text-align: center;
    display: none;
}

.delete-container {
    position: absolute;
    display: none;
    top: calc(50% - 260px); 
    left: calc(50% - 250px); 
    z-index: 10;
}

.warning-msg {
    font-size: larger;
    text-align: center;
}

.warning-submsg {
    text-align: center;
    font-size: small;
    color: 	#696969;
}

#warning-icon {
    color: #ff3f3f;
    text-shadow: 5px 5px 5px #ccc;
    font-size: 6.7em;
    text-align: center;
}