
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

html{
    overflow-x: hidden;
    font-family: 'Josefin Sans', sans-serif;
}
body{
    margin-right: 2px;
    height: 100%;
    width: 100%;
    background-color: rgba(240, 248, 255, 0.808);
}

a {
    color:black;
    width: 100%;
}        
a:hover {
    color: black;
    background-color:#ed6969
}    

.col-md-2{
    background-color: lightcoral;
    height:100vh;
    position: sticky;
    top: 0px;
}

.col-md-2 .btn{
    background-color: midnightblue;
    border-color:gray;
    width: 100%;
}

.description{
    word-wrap: break-word;
    overflow-x: hidden;
}

.btn-group .special{
    display: flex;
}

#nav-title{
    font-size: 40px;
    font-weight: 400;
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
}

#nav-title:hover{
    text-decoration: none;
}

.nav-title , .nav-title:hover{
   /* border-color: midnightblue;
    border-width: 2px;
    border-style: dotted;
    border-radius: 20px; */
    text-align: center;
    text-decoration: none;
}

.nav-buttons, .nav-item {
    width: 100%;
}


.navibar>.btn:hover{
    background-color: whitesmoke;
    color:midnightblue;
    font-weight: 700;
    
}

.nav-title:hover{
    color: midnightblue;
}

.btn:hover{
    background-color: white;
    color: midnightblue;
}

.card{
    padding: 10px;
    margin: 15px;
}

.error{
    color:red ;
    font-size: 30px;
}

.login-text {
    margin-top: 150%;
}