@import url(main.css);

.profile{
    max-height: 400px;
    max-width: 400px;
}


.name{
    font-size: 50px;
}

.description{
    font-size: 20px;
    display: flex;
    word-wrap: break-word;
    overflow-x: hidden;
}

p{
    font-size: 40px;
    font-weight: 200;
}

.content{
    margin-left: 20px;
}

.CRUD{
    display: flex;
    justify-content: space-between;
}

.rate-container{
    position: absolute;
    top: calc(50% - 150px); 
    left: calc(50% - 80px); 
    display: none;
    z-index: 10;
}

.addlist-container {
    position: absolute;
    top: calc(50% - 270px); 
    left: calc(50% - 200px); 
    display: none;
    z-index: 10;
}

.edit-container {
    position: absolute;
    display: none;
    top: calc(50% - 260px); 
    left: calc(50% - 140px); 
    z-index: 10;
}

.delete-container {
    position: absolute;
    display: none;
    top: calc(50% - 260px); 
    left: calc(50% - 250px); 
    z-index: 10;
}

.page-darken {
    position: fixed;
    background-color: rgba(0,0,0,0.6);
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: none;
    z-index: 9;
  }

.text-font {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    font-size: large;
  }

.error-edit-msg {
    color: red;
    font-size: smaller;
    text-align: center;
    display: none;
}

.warning-msg {
    font-size: larger;
    text-align: center;
}

.warning-submsg {
    text-align: center;
    font-size: small;
    color: 	#696969;
}

#warning-icon {
    color: #ff3f3f;
    text-shadow: 5px 5px 5px #ccc;
    font-size: 6.7em;
    text-align: center;
}